/* asset previews / list */
.assetPreview {
    padding: 10px 16px;
    margin: 20px 0;
    border-bottom: 1px solid #fafafa;
  }
  .assetPreview:hover {
    box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
  }
  .assetPreview h2 {
    font-size: 20px;
    color: #f1356d;
    margin-bottom: 8px;
  }
  .assetPreview a{
    text-decoration: none;
  }
  .icon{
    width: -webkit-fill-available;
    max-width: 80px;
  }
  .asset-list{
    margin-top: 30px;
  }