@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}

body {
  /* width: 100vw !important; */
}

.icon{
  color: #fff;
}

ul.pagination{
  text-align: center;
  margin-right: auto;
  margin-left: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

.input-group-text {
  padding: 0.75rem 0.75rem !important;
}

.content {
  margin: 2%;
  padding: 2%;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}
.navbar a:hover {
  color: #f1356d;
}
.navbar-header{
  margin-left: 30px;
  font-size: 35px;
  padding: 5px;
}
